@import '~compass-mixins/lib/compass/css3';
@import 'functions';
@import 'variables';

* {
  outline: none;
  box-sizing: border-box;

  &::before,
  &::after {
    outline: none;
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
