@import '~compass-mixins/lib/compass/css3';
@import 'functions';
@import 'variables';

:host {
  height: 100vh;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);

  .count {
    margin-right: 15px;

    span {
      font-size: 22px;
      color: green;
      font-weight: bold;
    }
  }
}
